<table width="100%" bgcolor="#eaeaea">
  <tr>
    <td align="center" bgcolor="#314961" style="padding: 20px;">
      <h1 style="color:white;">SIRUS Email Reset Password</h1>
    </td>
  </tr>
  <tr>
    <td align="center">
      <table bgcolor="white" width="90%" style="padding: 10px;">
        <tr>
          <td><h2>Petunjuk Ubah Kata Sandi</h2></td>
        </tr>
        <tr>
          <td>
            Klik tombol di bawah ini untuk mengubah kata sandi akun sirus anda :
          </td>
        </tr>
        <tr>
          <td>
            <a
              href="http://188.166.217.221:5000/authentication/reset/<%= email %>"
              ><button
                style="border:0px;background-color:#54a4e7;color:white;padding:10px;font-weight:bold;border-radius:5px; margin:30px 0px 10px 0px;"
              >
                Ubah Kata Sandi Anda
              </button></a
            >
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
