<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
    <style type="text/css">
        body {
            background: #eaeaea;
            font-family: 'Arial';
        }

        input {
            width:350px;
            border:0px;
            border-bottom:1px solid #333333;
            padding:10px;
            outline:none;
        }

        .card {
            margin-top:50px;
            width: 400px;
            background: white;
        }
        
        button {
            width: 350px;
            border:0;
            padding:10px;
            margin-top:10px;
            margin-bottom:10px;
            color:white;
            background: #4d91e2;
            font-weight: bold;
        }
        button:hover {
            background: #3978c4;
        }
    </style>
</head>
<body>
    <center>
    <div class="card">
        <table >
            <tr>
                <td style="padding:10px"><h2>Kata Sandi Berhasil diperbarui</h2>
                Silahkan anda untuk login kembali pada aplikasi Sirus<br><br></td>
            </tr>
        </table>
    </div>
    </center>
</body>
</html>