<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
    <style type="text/css">
        body {
            background: #eaeaea;
            font-family: 'Arial';
        }

        input {
            width:350px;
            border:0px;
            border-bottom:1px solid #333333;
            padding:10px;
            outline:none;
        }

        form {
            margin-top:50px;
            width: 400px;
            background: white;
        }
        
        button {
            width: 350px;
            border:0;
            padding:10px;
            margin-top:10px;
            margin-bottom:10px;
            color:white;
            background: #4d91e2;
            font-weight: bold;
        }
        button:hover {
            background: #3978c4;
        }
    </style>
</head>
<body>
    <center>
    <form action="/authentication/resetprocess" method="post">
        <table >
            <tr>
                <td style="padding:10px"><h2>Buat Kata Sandi Baru</h2>
                Silahkan anda membuat kata sandi baru untuk akun anda.<br><br></td>
            </tr>
            <tr>
                <td><center><input type="text" name="email" readonly value="<%= email %>"></center></td>
            </tr>
            <tr>
                <td><center><input type="password" placeholder="Kata Sandi Baru ..." name="password"></center></td>
            </tr>
            <tr>
                <td><center><button type="submit">UBAH KATA SANDI</button></center></td>
            </tr>
        </table>
    </form>
    </center>
</body>
</html>